#div_digg {
    float: right;
    margin-bottom: 10px;
    margin-right: 30px;
    font-size: 12px;
    width: 125px;
    text-align: center;
    margin-top: 10px;
}

.diggit {
    float: left;
    width: 46px;
    height: 52px;
    background: url(/static/font/upup.gif) no-repeat;
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 5px;
}

.buryit {
    float: right;
    margin-left: 20px;
    width: 46px;
    height: 52px;
    background: url(/static/font/downdown.gif) no-repeat;
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 5px;
}

.clear {
    clear: both;
}

#digg_tips {
    color: red; 
    margin-top: 5px;
}

#commentform_title {
    background-image: url(/static/font/icon_addcomment.gif);
    background-repeat: no-repeat;
    padding: 0 0 0 25px;
    margin-bottom: 10px;
}

.comments textarea {
    line-height: 1.6;
    width: 100%;
    height: 250px;
    resize: vertical;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    font-family: "PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
    padding: 8px 0;
}

#user_now {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}