<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.css">
    <script src="\static\js\jquery.js"></script>
    <script src="\static\js\bootstrap.min.js"></script>
    <script src="\static\js\jquery-3.2.1.min.js"></script>
    <title>{{article.title}}</title>
</head>
<body>
    <div>
        <h2>{{article.title}}</h2>
    </div>
    <hr>
    <div style="margin: 40px 140px;">
        <h3>{{article.content}}</h3>
    </div>
</body>
</html>