{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="/static/css/article_detail.css">

{% csrf_token %}

<!-- 文章标题 -->
<div>
    <h3 class="text-center">{{article.title}}</h3>
</div>
<hr>
<!-- 文章内容 -->
<div class="content" style="margin: 40px 30px;">
    {{article.content|safe}}
</div>
<hr>

<!-- 点赞 -->
<div class="clearfix">
    <div id="div_digg">
        <div class="diggit action">
            <span class="diggnum" id="digg_count">{{article.up_count}}</span>
        </div>
        <div class="buryit action">
            <span class="burynum" id="bury_count">{{article.down_count}}</span>
        </div>
        <div class="clear"></div>
        <div class="diggword" id="digg_tips"></div>
    </div>
</div>

<!-- 评论区（评论树） -->
<div class="comments_area_tree">
    <div style="margin: 10px 0 10px 0;">评论树 共有({{article.comment_count}})条评论</div>

</div>

<!-- 评论区（评论楼） -->
<!-- <div class="comments_area">
    <div style="margin-bottom: 10px;">评论列表</div>
    <ul class="list-group comment_list">
        {% for comment in comments %}
        <li class="list-group-item">
            <div>
                <a href=""># {{forloop.counter}}楼</a> &nbsp;&nbsp;
                {{comment.create_time|date:"Y-m-d H:i"}} &nbsp;&nbsp;
                <a href="/{{comment.user}}">{{comment.user}}</a>
                <a class="pull-right reply_btn" username="{{comment.user}}" comment_id="{{comment.nid}}">回复</a>
            </div>
            {% if comment.parent_comment_id %}
            <div class="well">
                {{comment.parent_comment.user}}：{{comment.parent_comment.content}}
            </div>
            {% endif %}
            <div style="margin: 17px 0 17px 5px;">{{comment.content}}</div>
        </li>
        {% endfor%}
    </ul>
</div> -->

<!-- 发表评论 -->
<div class="comments">
    <div style="margin-bottom: 10px;">
        <span id="commentform_title">发表评论</span>
        <span class="pull-right">
            当前登录用户：<img id="user_now" src="/media/{{request.user.avatar}}">{{request.user.username}}
        </span>
    </div>
    <textarea parent_comment_id="" name="" id="comment_content" cols="30" rows="10" class="comment_area"></textarea>
    <input type="button" value="提交评论" class="pull-right comment_btn">
    <span id="comment_msg" class="pull-right"></span>

</div>

<script>
    // 点赞请求
    $(".action").click(function () {
        var is_up = $(this).hasClass("diggit");

        $obj = $(this).children("span")

        $.ajax({
            url: "/digg/",
            type: "post",
            data: {
                "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
                "is_up": is_up,
                "article_number": "{{article.nid}}",
            },
            success: function (data) {
                if (!data.state) {

                    var val = data.handled ? "您已经推荐过了" : "您已经反对了";
                    $("#digg_tips").html(val);

                } else {

                    var val = parseInt($obj.text());
                    $obj.text(val + 1);

                }
            },
        })

        setTimeout(function () {
            $("#digg_tips").html("");
        }, 2000)

    })

    // 评论上传
    $(".comment_btn").click(function () {
        var content = $(".comment_area").val();
        var parent_comment_id = $(".comment_area").attr("parent_comment_id");
        if (content) {
            $.ajax({

                url: "/comment/",
                type: "post",
                data: {
                    "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
                    "article_number": "{{article.nid}}",
                    "content": content,
                    "parent_comment_id": parent_comment_id,
                },
                success: function (data) {

                    var create_time = data.create_time;
                    var username = data.username;
                    var content = data.content;
                    var parent_comment_user = data.parent_comment_user;
                    var parent_comment_content = data.parent_comment_content;

                    if (parent_comment_id) {
                        var comment_ajax = `
                            <li class="list-group-item">
                                <div>
                                    <a href=""># 本楼</a> &nbsp;&nbsp;
                                    ${create_time} &nbsp;&nbsp;
                                    <a href="/${username}">${username}</a>
                                </div>
                                <div style="margin: 17px 0 17px 5px;">${content}</div>
                            </li>`
                            ;
                    } else {
                        var comment_ajax = `
                            <li class="list-group-item">
                                <div>
                                    <a href=""># 本楼</a> &nbsp;&nbsp;
                                    ${create_time} &nbsp;&nbsp;
                                    <a href="/${username}">${username}</a>
                                </div>
                                <div style="margin: 17px 0 17px 5px;">${content}</div>
                            </li>`
                            ;
                    }

                    // 显示评论
                    $("[comment_tree_id="+parent_comment_id+"]").parent().parent().append(comment_ajax);

                    // 成功信息提示
                    $("#comment_msg").removeClass("comment_msg_fail");
                    $("#comment_msg").addClass("comment_msg_pass");
                    $("#comment_msg").html("提交评论成功");

                    // 评论内容区清空
                    $("#comment_content").val("")

                },
            })
        } else {

            $("#comment_msg").removeClass("comment_msg_pass");
            $("#comment_msg").addClass("comment_msg_fail");
            $("#comment_msg").html("请输入内容");

        }

        setTimeout(function () {
            $("#comment_msg").html("");
        }, 2000)

    })

    // 回复按钮事件
    $(".comments_area_tree").on('click', '.reply_btn', function () {
        $("#comment_content").focus();
        var comment_id = $(this).attr("comment_tree_id");
        console.log(comment_id)
        var p_name = $(this).attr("username");
        var val = "@" + p_name + '\n';
        $("#comment_content").val(val);
        $("#comment_content").attr("parent_comment_id", comment_id);
    })

    // 评论树显示
    $.ajax({
        url: "/comment_tree/",
        type: "post",
        data: {
            "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
            "article_number": "{{article.nid}}",
        },
        success: function (comments) {
            var counter = 1

            var create_comment_tree = function create_comment_tree(comments, flag) {

                        $.each(comments, function (index, comment) {
                        var nid = comment[0];
                        var username = comment[1];
                        var content = comment[2];
                        var parent_comment_id = comment[3];

                        var s = `
                            <div class="list-group-item">
                                <div>
                                    <a href=""># ${counter}楼</a> &nbsp;&nbsp;
                                    <a href="/${username}">${username}</a>
                                    <a class="pull-right reply_btn" username="${username}" comment_tree_id=${nid}>回复</a>
                                </div>
                                <div style="margin: 17px 0 17px 5px;">${content}</div>
                            </div>
                            `;

                        if (!parent_comment_id && flag) {
                            $(".comments_area_tree").append(s);
                            counter++;
                        }
                        if (parent_comment_id && !flag) {
                            $("[comment_tree_id=" + parent_comment_id + "]").parent().parent().append(s);  // 这个地方太妙了
                        }
                    }
                )
                
            }

            create_comment_tree(comments, flag=1);
            create_comment_tree(comments, flag=0);

        },
    })


</script>

{% endblock %}