<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.css">
    <script src="\static\js\jquery.js"></script>
    <script src="\static\js\bootstrap.min.js"></script>
    <script src="\static\js\jquery-3.2.1.min.js"></script>
    <style>
        .header {
            width: 100%;
            height: 60px;
            background-color: #369;
        }

        .header .title {
            font-size: 18px;
            font-weight: 100;
            line-height: 60px;
            color: white;
        }

        .backend {
            float: right;
            color: white;
            font-size: 14px;
            margin-right: 10px;
        }
        .article_info {
            color: grey;
        }
    </style>
    <title>{{blog.title}}</title>
</head>

<body>
    <!-- 以下是站头 -->
    <div class="header">
        <div class="content">
            <p class="title">
                <span>
                    {{blog.title}}
                </span>
                <a href="/" class="backend">返回首页</a>
                <a href="" class="backend">管理</a>

            </p>
        </div>
    </div>
    <!-- 以下是个人站点内容 -->
    <div class="container-fluid" style="margin-left: 30px; margin-top: 30px;">
        <div class="row">
            <!-- 左侧信息栏内容 -->
            <!-- 个人信息+分类+标签+年月归档 -->
            <div class="col-md-2" style="margin-right: 30px;">

                {% load my_tags %}
                {% get_classification_style user %}

            </div>
            <!-- 文章列表 -->
            <div class="col-md-9">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>

</body>

<script>
    $(function() {
        var date = new Date()
        var year = date.getFullYear();
    })
</script>

</html>