{% extends 'base.html' %}

{% block content %}

    {% for article in article_list %}
    <div class="panel panel-primary">
        <!-- 标题 -->
        <div class="panel-heading article-list">
            <a href="/{{article.user}}/articles/{{article.nid}}" style="color: honeydew;">{{article.title}}</a>
        </div>
        <!-- 内容 -->
        <div class="panel-body article-desc">
            <span class="simple_content">
                {{article.content|safe}}
            </span>
        </div>
        <!-- 文章信息 -->
        <div class="article_info" style="margin-left: 10px;">
            <span style="margin-right: 20px;">
                <a href="/{{article.user.username}}">{{article.user.username}}</a>
            </span>
            <span style="margin-right: 20px;">
                发布于：{{article.create_time|date:"Y-m-d H:i"}}
            </span>
            <span style="margin-right: 20px;">
                <span class="glyphicon glyphicon-comment"></span>
                {{article.comment_count}}
            </span>
            <span style="margin-right: 20px;">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                {{article.up_count}}
            </span>
            <span style="margin-right: 20px;">
                <span class="glyphicon glyphicon-thumbs-down"></span>
                {{article.down_count}}
            </span>
        </div>
    </div>
    {% endfor %}

{% endblock %}